body {
    margin: 0;
    /* ressurs krevende
  background-image: url("../images/royk-bg-texture.png");
  */
    background-color: rgba(201, 201, 201, 0.5);
    font-family: sans-serif;
    height: 1200px;
}

.sirkel1:hover {
    fill: rgb(69, 69, 69);
    stroke: rgb(69, 69, 69);
    stroke-width: 50px;
    cursor: pointer;
}

.sirkel1 {
    fill: #ffffff;
}

#header {
    text-align: center;
}

#logoBanner {
    background: -webkit-linear-gradient(rgb(48, 23, 23), rgb(108, 63, 63));
    height: 100px;
}

#roykLogoImg {
    height: 60px;
    padding-top: 20px;
}

#container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#containerDots {
    height: 500px;
}

svg {
    display: inline-block;
    margin: auto;
    height: 500px;
}

.tekstboks {
    background-color: rgb(0, 183, 255);
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    margin: 0px;
    background-color: rgb(247, 239, 237);
    overflow: hidden;
    opacity: 0;
}

#tekstBoksHeader {
    background: -webkit-linear-gradient(rgb(68, 23, 23), rgb(108, 63, 63));
    height: 70px;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    margin: 0px;
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
}

#tekstBoksTxt {
    padding: 15px;
    text-align: left;
}

#tekstBoksLink {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    margin: 0px;
    height: 40px;
    padding-top: 20px;
    width: 100%;
}

#tekstBoksLink a {
    color: rgb(255, 255, 255);
}

.on {
    fill: rgb(68, 23, 23);
    /*stroke: rgb(108, 63, 63);
    stroke-width: 2;*/
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    float: left;
    width: 120px;
    margin: 0px 0px 0px;
    position: relative;
}

#arstall {
    margin: auto;
}

@media (max-width: 800px) {
    #container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    svg {
        position: absolute;
        top: 100px;
        left: -40px;
        max-width: calc(100% + 100px);
    }
    .tekstboks {
        width: 100%;
        height: 100%;
    }
}